.cd-popup {
    opacity: 0;
    transition: opacity 1s 0s;
}
.cd-popup.is-visible {
    opacity: 1;
    transition: opacity 1s 0s;
}
.cd-popup-container {
    transform: translateY(40%);
    transition-property: transform;
    transition-duration: 0.3;
}
.is-visible .cd-popup-container{
    transform: translateY(0);
}
